<div class="container">
    <div class="row ">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Feedback</h4>
                    <ul class="list-group list-group-flush" *ngFor="let feedback of feedbacks">
                        <li class="list-group-item"><b>{{feedback.firstname}}</b> <br>
                            {{feedback.lastname}} <br>
                            <span>-- {{feedback.message}}</span><br>
                            <span>{{feedback.date}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-sm-1">
          <h3>Send us your message</h3>
          <p>{{ feedbackForm.value | json }}</p>
       </div>
        <div class="col-12 col-md-9 offset-sm-1">
            <!-- Form goes here -->
            <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmitFeedback()">
              <div class="form-group row" >
                  <label for="firstname" class="col-md-2 col-form-label">Your First Name</label>
                  <div class="col-md-5">
                      <input type="text"  id="firstname" formControlName="firstname"
                      placeholder="Your First Name">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="lastname" class="col-md-2 col-form-label">Your Last Name</label>
                  <div class="col-md-5">
                      <input type="text"  id="lastname" formControlName="lastname"
                      placeholder="Your Last  Name" >
    
                  </div>
              </div>
               <div class="form-group row">
                  <label for="message" class="col-md-2 col-form-label">Your message</label>
                  <div class="col-md-5">
                      <textarea  id="message" formControlName ="message" rows="3"></textarea>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="offset-md-2 col-md-10">
                      <button type="submit" class="btn btn-primary">Send message</button>
                  </div>
              </div>
          </form>
        </div>
      </div>
</div>