<div class="container">
    <div class="row ">
      <div class="col-12">
        <h3>About us</h3>
        <hr>
      </div>
   </div>
    <div class="row ">
      <h4 class="col-12">Corparete Leadership</h4>
      <div class="media" *ngFor="let leader of leaders" [routerLink]="[leader.id]">
        <img class=" img-thumbnail align-self-end"
          src="{{BaseURL + leader.image}}" alt={{leader.name}}>
        <div class="media-body">
          <h5 class="mt-4">{{leader.name | uppercase}}
            <span class="badge badge-danger">{{leader.designation}}</span>
            <span class="badge badge-pill badge-success">{{leader.abbr}}</span>
          </h5>
          <p class="col d-none d-sm-block">
            {{leader.description }}
          </p>
        </div>
      </div>
    </div>
</div>